<h1>Editing Tutor Client Relationship</h1>

<%= render 'form', tutor_client_relationship: @tutor_client_relationship %>

<%= link_to 'Show', @tutor_client_relationship %> |
<%= link_to 'Back', tutor_client_relationships_path %>
