<h1> Legal Permission </h1>
<br>
<p> For our application to run, we will need to store personal information on your child account such as their Date of Birth </p>
<br>
<br>
<br>

<%= link_to "Decline", user_path(current_user) %>
<%= link_to 'Accept', new_user_path %>