<div class="container-fluid mt-5 mb-5">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1>Woo!</h1>
      <p class="mx-auto w-75 font-size-20">A learning platform for students to continue their education and achieve their best, and a place where tutors can offer their services and connect with others no matter where they are.</p>
    </div>
  </div>
</div>
<div class="row border-top border-bottom border-secondary mb-5">
  <div class="col">
    <%= image_tag "about1.jpeg", :class => "h-100 w-100 border border-right border-secondary" %>
  </div>
  <div class="col text-center my-auto">
    <h2>Our Mission</h2>
    <p>We aspire to improve the quality of life for students and tutors both by providing a platform where teaching is made simple, with all the tools in one place.</p>
  </div>
</div>
<div class="container-fluid mb-5">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Our Story</h1>
      <p class="font-size-20">We are a team of students who have had personal experience with the COVID pandemic interfering with our education. It came at a time where we understood the need for face to face teaching and how important it was to have the necessary support for our studies. Therefore, we decided that a single, online platform where tools such as real time video calls and file sharing would be key in providing a safe, and enjoyable experience for people who may be struggling in times like these.</p>
    </div>
  </div>
</div>
