<h1>About Us</h1>

<p> Here at Woo we understand how difficult it can be to find a cohesive online learning environment. Education is a crucial part of many people's lives, and COVID-19 has heavily impacted that.</p>
<p> We recognize that not only students struggle with distance learning. Many tutors have had to move their services online and try to navigate sites that don't offer a complete spetrum of tools to meet their needs.</p>
<p> Woo aims to make teaching and learning as fun and stress free as possible, by providing the services needed to connect and learn. </p>
